.blok1{
    display: flex;
    flex-direction: row;
}

.filmy{
    display: flex;
    justify-content: center;
    height: 320px;
    background-color: #B0BEC5;
    justify-content: space-around;
    justify-content: flex-start;
}
.filmy img{
    margin-left:20px ;
}
.polecamy{
    background-color: #B0BEC5;

}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
.kategorie{
    display: flex;
    background-color: #29434E;
    color: white;
    width: 30%;    
    height: 70px;

}
.blok1 .napis{
    width: 70%;
    height: 70px;
    text-align: center;
    background-color: #29434E;
}

.liczby{
    display: flex;
}

